[run]
branch = True
omit =
    */django_orm/utils/autoreload.py
source = django_orm

[report]
ignore_errors = True
omit =
    */django_orm/conf/locale/*
    */tests/*

[html]
directory = coverage_html
